.calculadora {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}

.btn:hover {
    background-color: gray;
}

